/*Imporing Roboto (google font)*/
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*Removing any default margin, padding that might be applied by the browser.
border-box = The width and height of an element will include its padding and border, rather than just its content box. This can be useful for creating more predictable and consistent layouts.*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
CSS custom properties are being defined using the :root selector. 
The :root selector selects the root element of the document, 
which is typically the <html> element.
*/

:root {
    --Tomato: hsl(4, 100%, 67%);
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;         
}



.illustration {
    max-width: 100vw;
    min-height: 40vh;
    background: url("./images/illustration-sign-up-mobile.svg") center/cover no-repeat;
    border-radius: 0 0 5% 5%;
    margin-bottom: 5%;
}

.description {
    max-width: 80vw;
    margin: 0 auto;
 }
 
 h1{
     font-size: 2rem;
     font-weight: 700;
     color: var(--DarkSlateGrey);
     margin: 5% 0;
 }
 
 p{
     color: var(--CharcoalGrey);
     margin: 5% 0;
 }
 
 li{
     list-style: none;
     display: flex;
     align-items: start;
     gap: 5%;
     margin: 5% 0;
     color: var(--CharcoalGrey);
 }
 
 .form-header{
    display: flex;
    justify-content: space-between;
 }
 
 input{
     width: 100%;
     padding: 5% 0;
     border-radius: .5em;
     outline: none;
     border: 1px solid var(--Grey);
     margin: 2.5% 0;
 }
 
 input:focus{
     border: 1px solid var(--DarkSlateGrey);
 }
 
 .subscribe-btn, .dismiss-btn {
     width: 100%;
     background: var(--DarkSlateGrey);
     color: var(--White);
     border: none;
     border-radius: .5em;
     padding: 5% 0;
     margin: 2.5% 0;
     font-weight: bold;
 }
 
 .subscribe-btn:hover, .dismiss-btn:hover {
     background: var(--Tomato);
     color: var(--White);
     cursor: pointer;   
 }
 
 .error-msg{
     color: var(--Tomato);
 }
 
 .success-message {
     width: 80vw;
     margin: 50% auto 0 auto;
     display: none;
     
 }
 
 .user-email{
     color: var(--DarkSlateGrey);
     font-weight: bold;
 }
 
 .dismiss-btn{
     margin-top: 50%;
     padding: 5% 0;
 }
 
 
 .attribution {
     font-size: 11px;
     text-align: center;
     margin-top: 10%;
 }
 
 .attribution a {
     color: hsl(228, 45%, 44%);
 }
 
 @media only screen and (min-width: 600px) {
 
     body{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         min-height: 100vh;
         background: var(--DarkSlateGrey);        
     }
 
     main {
         min-width: 90vw;         
         background: var(--White);
         border-radius: 5%;
         
     }
 
     .sign-up {
         display: flex;
         flex-direction: row-reverse;
         padding: 2.5%;
     }
 
     .description {
         flex: 1;
         padding: 2.5%;
     }
 
     .illustration{
         background: url("./images/illustration-sign-up-desktop.svg") center/cover no-repeat;
         border-radius: 5%;
         margin-bottom: 0;
         flex: 1;
     }
 
     .success-message{
         /* max-width: 60vw; */
         padding: 0 5%;
         max-height: 40vh;
         margin: 5% auto;
     }
 
     .dismiss-btn{
         margin-top: 0;
     }
 
     .attribution{
         color: var(--Grey);
         margin-top: 20%;
     }
 
     .attribution a{
         color: var(--Grey);
     }
 } 